<h1><%= @building.name %></h1>

<ul>
<% @building.companies.each do |c| %>
<li><%= link_to c.name, company_path(c) %></li>
<% end %>
</ul>

<p>Number of floors:</p>
<%= @building.number_of_floors %>

<p>Total Rent in this Building: 
<%= @building.companies.length * @building.rent_per_floor %></p>

<p>Total Employees in this Building:</p>
<%= @building.num_employees %>